<h1 class="settings-title">Beállítások</h1>
<div class="button-navigation-container">
  <button
    (click)="readonly = !readonly; toggleEditing('local')"
    type="button"
    class="details-button-single"
  >
    {{ readonly ? 'Szerkesztés' : 'Mentés saját felhasználónak'}}
  </button>
  <button
    (click)="readonly = !readonly; toggleEditing('global')"
    type="button"
    class="details-button-single"
    [hidden]="readonly"
  >
    {{ readonly ? 'Szerkesztés' : 'Mentés alapértelmezettnek'}}
  </button>
</div>
<div class="container">
  <div class="form-container">
    <form (ngSubmit)="onSubmit()" #orderForm="ngForm">
      <button type="submit" disabled style="display: none" aria-hidden="true"></button>

        <div class="form-group show-other-toggle">
          <mat-slide-toggle [(ngModel)]="model.showOtherOrders" name="showOtherOrders" [disabled]="readonly">Más felhasználók munkalapjainak mutatása</mat-slide-toggle>
        </div>

        <mat-form-field appearance="fill">
          <div class="form-group">
            <label for="description">Óraszerviz neve</label>
            <input matInput
              type="text"
              class="form-control"
              id="companyNameTop"
              [(ngModel)]="model.companyNameTop"
              name="companyNameTop"
              [disabled]="readonly"
            />
          </div>
        </mat-form-field>
        <br>
        <mat-form-field appearance="fill">
          <div class="form-group">
            <label for="description">Óraszerviz alcím</label>
            <input matInput
              type="text"
              class="form-control"
              id="companyNameBottom"
              [(ngModel)]="model.companyNameBottom"
              name="companyNameBottom"
              [disabled]="readonly"
            />
          </div>
        </mat-form-field>
        <br>

        <mat-form-field appearance="fill">
          <div class="form-group">
            <label for="description">Garanciakártya lábléc szövege</label>
            <textarea matInput
              cdkTextareaAutosize
              #autosize="cdkTextareaAutosize"
              cdkAutosizeMinRows="1"
              cdkAutosizeMaxRows="3"
              class="form-control"
              id="warrantyCardFooterText"
              [(ngModel)]="model.warrantyCardFooterText"
              name="warrantyCardFooterText"
              [disabled]="readonly"
            ></textarea>
          </div>
        </mat-form-field>
        <br>

        <mat-form-field appearance="fill">
          <div class="form-group">
            <label for="description">Átvételi elismervény lábléc szövege</label>
            <textarea matInput
              cdkTextareaAutosize
              #autosize="cdkTextareaAutosize"
              cdkAutosizeMinRows="1"
              cdkAutosizeMaxRows="3"
              class="form-control"
              id="worksheetCardFooterText"
              [(ngModel)]="model.worksheetCardFooterText"
              name="worksheetCardFooterText"
              [disabled]="readonly"
            ></textarea>
          </div>
        </mat-form-field>
        <br>
        <mat-form-field appearance="fill">
          <div class="form-group">
            <label for="description">Átvételi elismervény figyelmeztetés szövege</label>
            <textarea matInput
              cdkTextareaAutosize
              #autosize="cdkTextareaAutosize"
              cdkAutosizeMinRows="1"
              cdkAutosizeMaxRows="4"
              type="text"
              class="form-control"
              id="worksheetCardReceiptText"
              [(ngModel)]="model.worksheetCardReceiptText"
              name="worksheetCardReceiptText"
              [disabled]="readonly"></textarea>
          </div>
        </mat-form-field>

      <label for="file">Logó feltöltése (minden felhasználónak):</label>
      <input type="file" class="photo-upload-input" (change)="uploadLogo($event)" accept=".png,.jpg,.jpeg,.jfif,.pjpeg,.pjp,.webp" />
      <div class="photo-upload-progress" *ngIf="uploadProgress | async">
        <progress max="100" [value]="uploadProgress | async"></progress>
      </div>
      <button
          (click)="signOut()"
          type="button"
          class="sign-out-button"
        >
          <mat-icon class="signout-icon">exit_to_app</mat-icon>
          Kijelentkezés
      </button>
      
    </form>
  </div>
</div>

