<div class="parent flex-parent">
  <div class="orders-header">
    <h1>Munkalapok</h1>
    <!-- <button (click)="testF()" type="button">Teszt</button> -->
  </div>
  <div class="child flex-child">
  </div>
</div>

<div class="order-list-viewport" cdkVirtualScrollingElement>
  <div class="order-list-header">
    <button (click)="orderFormIsOpen = !orderFormIsOpen" type="button" class="new-order-button">
      {{ orderFormIsOpen ? 'Lista' : '+' }}
    </button>
  </div>
    <div [hidden]="orderFormIsOpen">
      <ng-container *ngIf="this.databaseService.databaseOrders | async">
        <cdk-virtual-scroll-viewport class="order-list-items" itemSize="50">
          <div
              *cdkVirtualFor="let order of (sortedOrdersSubject.asObservable() | async) | sort:sortTuple[0] : sortTuple[1]"
             class="order-list-virtual-scroll-item">
             <div class="order-title-flexbox">
              <!-- <mat-label>Státusz</mat-label> -->
                <div class="icon-container">
                  <mat-icon class="big-icon" >{{order.getStatusIcon()}}</mat-icon>
                </div>
                <mat-select [(ngModel)]="order.orderStatus" (selectionChange)="updateOrderStatus(order)" class="order-status-select">
                  <mat-option [value]="o.value" *ngFor="let o of oss" class="order-status-option">
                    <div [ngClass]="{
                      'statusRed' : o.value == 'canceled',
                      'statusGreen' : o.value == 'tasks done',
                      'statusYellow' : o.value == 'waiting for part', 
                      'statusLightgreen' : o.value == 'ready for pickup',
                      'statusBlue' : o.value == 'registered',
                      'statusGrey' : o.value == 'done'}">
                      <mat-icon class="status-icon">{{o.icon}}</mat-icon>
                      {{ o.viewValue }}
                    </div>
                  </mat-option>
                  <!-- <mat-option></mat-option> -->
                  <mat-select-trigger class="selected-order-status">
                    <div [ngClass]="{
                      'statusRed' : order.orderStatus == 'canceled',
                      'statusGreen' : order.orderStatus == 'tasks done',
                      'statusYellow' : order.orderStatus == 'waiting for part', 
                      'statusLightgreen' : order.orderStatus == 'ready for pickup',
                      'statusBlue' : order.orderStatus == 'registered',
                      'statusGrey' : order.orderStatus == 'done'}">
                      {{  order.getStatusDisplay()}}
                    </div>
                  </mat-select-trigger>
                </mat-select>
              <!-- Order name first-->
              <div class="order-top-row" *ngIf="lastSortTupleOrdering!=='customerName'">
                <div class="order-title">
                  <h3 class="order-title-a">
                    <a
                      [title]="order.name + ' details'"
                      [routerLink]="['/orders', order.id]"
                    >
                      {{ order.name }}
                    </a>
                  </h3>
                </div>
                <a class="order-serial">
                  Lap {{ order.serialNumber }}
                </a>
                <div class="order-customer-name">
                  {{order.customerName}}
                </div>
              </div>
              <!-- Customer name first-->
              <div class="order-top-row" *ngIf="lastSortTupleOrdering==='customerName'">
                <div class="order-title">
                  <h3 class="order-title-a">
                    <a
                      [title]="order.name + ' details'"
                      [routerLink]="['/orders', order.id]"
                    >
                      {{ order.customerName }}
                    </a>
                  </h3>
                </div>
                <div class="order-customer-name">
                  {{order.name}} #{{ order.serialNumber }}
                </div>
              </div>

            </div>
            <mat-divider></mat-divider>
            <div class="order-details-flexbox">
              <p *ngIf="order.description" class="order-description-text">{{ order.description }}</p>
              <p *ngIf="order.deadline && order.orderStatus != 'done'" class="order-deadline-text" [ngClass]="{'statusRed': order.isDeadlineUrgent()}">Határidő: {{order.deadline | date: 'yyyy/MM/dd'}}</p>
              <p *ngIf="order.orderStatus == 'done' && order.guaranteeEndTime != 0" class="order-guarantee-text">Garanciás: {{order.guaranteeEndTime | date: 'yyyy/MM/dd'}}</p>
              <p *ngIf="order.orderStatus == 'done' && order.guaranteeEndTime == 0" class="order-guarantee-text">Nem garanciás</p>
            </div>

              <!--
              <button
              type="button"
              [iconPicker]="order.icon"
              [ipIconPack]="['mat', 'fa5']"
              [ipIconSize]="'32px'"
              [ipButtonStyleClass]="'button is-link is-light'"
              (iconPickerSelect)="onIconSelect($event, order)"
            >
              <i *ngIf="order.icon.includes('fa-'); else Else" [class]="order.icon"></i>

              <ng-template #Else>
                <mat-icon aria-hidden="false" aria-label="Example home icon">{{
                  order.icon
                }}</mat-icon>
              </ng-template>
            </button> -->
              <!-- <button type="button" (click)="share()">Done</button> -->
            </div>
        </cdk-virtual-scroll-viewport>
      </ng-container>
    </div>
    <div [hidden]="!orderFormIsOpen" class="order-list-form"><order-form></order-form></div>
</div>
