<div [hidden]="submitted">
  <div class="container">
    <div [hidden]="submitted">
      <div [hidden]="confirmButtonsHidden">
      <h1 class="order-title">Új munkalap</h1>
    </div>

      <div class="child flex-parent">
        <div class="child flex-child">
          <button (click)="openTab = 0" type="button">Adatok</button>
        </div>
        <div class="child flex-child">
          <button (click)="openTab = 1" type="button">Folyamat</button>
        </div>
        <div class="child flex-child">
          <button (click)="openTab = 2" type="button">Fotók</button>
        </div>
      </div>
      <form (ngSubmit)="onSubmit()" #orderForm="ngForm">
        <div [hidden]="!(openTab == 0)">
          <mat-form-field appearance="fill">
          <div class="form-group">
            <label for="name">Munkalap neve</label>
            <input matInput
              type="text"
              class="form-control"
              id="name"
              required
              [(ngModel)]="model.name"
              name="name"
              #name="ngModel"
              [disabled]="readonly"
            />
            <!-- <div
              [hidden]="name.valid || name.pristine"
              class="alert alert-danger"
            >
            Munkalap név megadása kötelező
            </div> -->
          </div>
        </mat-form-field>
        <br>
        <mat-form-field appearance="fill">
          <div class="form-group">
            <label for="customerName">Ügyfél neve</label>
            <input matInput
              type="text"
              class="form-control"
              id="name"
              [(ngModel)]="model.customerName"
              name="customerName"
              #name="ngModel"
              [disabled]="readonly"
            />
          </div>
        </mat-form-field>
        <br>
          <mat-form-field appearance="fill">
          <div class="form-group">
            <label for="description">Telefon</label>
            <input matInput
              type="text"
              class="form-control"
              id="telephoneNumber"
              [(ngModel)]="model.telephoneNumber"
              name="telephoneNumber"
              [disabled]="readonly"
            />
          </div>
        </mat-form-field>
        <br>
          <mat-form-field appearance="fill">
          <div class="form-group">
            <label for="description">Email</label>
            <input matInput
              type="text"
              class="form-control"
              id="email"
              [(ngModel)]="model.email"
              name="email"
              [disabled]="readonly"
            />
          </div>
        </mat-form-field>
        <br>
          <mat-form-field appearance="fill">
          <div class="form-group">
            <label for="description">Hibaleírás</label>
            <input matInput
              type="text"
              class="form-control"
              id="description"
              [(ngModel)]="model.description"
              name="description"
              [disabled]="readonly"
            />
          </div>
        </mat-form-field>
        <br>
          <mat-form-field appearance="fill">
          <div class="form-group">
            <label for="description">Feladatok</label>
            <input matInput
              type="text"
              class="form-control"
              id="task"
              [(ngModel)]="model.task"
              name="task"
              [disabled]="readonly"
            />
          </div>
          </mat-form-field>
          <br>
          <mat-form-field appearance="fill">
            <label for="deadline">Határidő</label>
            <input matInput [matDatepicker]="picker" (dateChange)="deadlineChanged($event.value)" placeholder="{{model.deadline | date: 'yyyy/MM/dd'}}" [disabled]="readonly"/>
            <!-- <mat-hint>YYYY/MM/DD</mat-hint> -->
            <mat-datepicker-toggle
              matSuffix
              [for]="picker"
            ></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>

          <br>
          <mat-form-field appearance="fill">
          <div class="form-group">
            <label for="description">Ár</label>
            <input matInput
              type="number"
              class="form-control"
              id="price"
              [(ngModel)]="model.price"
              name="price"
              [disabled]="readonly"
            />
          </div>
        </mat-form-field>
        <br>
        <mat-form-field appearance="fill">
          <div class="form-group">
            <label for="description">Előleg</label>
            <input matInput
              type="number"
              class="form-control"
              id="advancePayment"
              [(ngModel)]="model.advancePayment"
              name="advancePayment"
              [disabled]="readonly"
            />
          </div>
        </mat-form-field>
        </div>
        <div [hidden]="!(openTab == 1)">
          <mat-form-field [style.width.%]="110" appearance="fill">
            <div class="form-group">
              <label for="orderStatus">Státusz</label>
              <mat-select
                class="order-status-select"
                id="orderStatus"
                [(ngModel)]="model.orderStatus"
                name="orderStatus"
                #orderStatus="ngModel"
                [disabled]="readonly"
              >
              <mat-option [value]="o.value" *ngFor="let o of orderStatusValues" class="order-status-option">
                <div [ngClass]="{
                  'statusRed' : o.value == 'canceled',
                  'statusGreen' : o.value == 'tasks done',
                  'statusYellow' : o.value == 'waiting for part', 
                  'statusLightgreen' : o.value == 'ready for pickup',
                  'statusBlue' : o.value == 'registered',
                  'statusGrey' : o.value == 'done'}">
                  <mat-icon class="status-icon">{{o.icon}}</mat-icon>
                  {{ o.viewValue }}
                </div>
              </mat-option>
              <!-- <mat-option></mat-option> -->
              <mat-select-trigger class="selected-order-status">
                <div [ngClass]="{
                  'statusRed' : order.orderStatus == 'canceled',
                  'statusGreen' : order.orderStatus == 'tasks done',
                  'statusYellow' : order.orderStatus == 'waiting for part', 
                  'statusLightgreen' : order.orderStatus == 'ready for pickup',
                  'statusBlue' : order.orderStatus == 'registered',
                  'statusGrey' : order.orderStatus == 'done'}">
                  {{  order.getStatusDisplay()}}
                </div>
              </mat-select-trigger>
            </mat-select>
            </div>
          </mat-form-field>
          <br>
          <mat-form-field appearance="fill">
            <div class="form-group">
              <label for="description">Tokszám</label>
              <input matInput
                type="text"
                class="form-control"
                id="casingNumber"
                [(ngModel)]="model.casingNumber"
                name="casingNumber"
                [disabled]="readonly"
              />
            </div>
          </mat-form-field>
          <br>
          <mat-form-field appearance="fill">
            <div class="form-group">
              <label for="description">Átvételi állapot</label>
              <input matInput
                type="text"
                class="form-control"
                id="originalState"
                [(ngModel)]="model.originalState"
                name="originalState"
                [disabled]="readonly"
              />
            </div>
          </mat-form-field>
          <br>
          <mat-form-field appearance="fill">
            <div class="form-group">
              <label for="description">Megjegyzések</label>
              <input matInput
                type="text"
                class="form-control"
                id="notes"
                [(ngModel)]="model.notes"
                name="notes"
                [disabled]="readonly"
              />
            </div>
          </mat-form-field>
          <br>
          <mat-form-field appearance="fill">
            <div class="form-group">
              <label for="description">Elvégzett munkák</label>
              <input matInput
                type="text"
                class="form-control"
                id="doneTasks"
                [(ngModel)]="model.doneTasks"
                name="doneTasks"
                [disabled]="readonly"
              />
            </div>
          </mat-form-field>
          <br>
          <mat-form-field appearance="fill">
            <div class="form-group">
              <label for="description">Garancia</label>
              <input matInput
                type="text"
                class="form-control"
                id="guarantee"
                [(ngModel)]="model.guarantee"
                name="guarantee"
                [disabled]="readonly"
              />
            </div>
          </mat-form-field>
          <br>
          <mat-form-field appearance="fill">
            <div class="form-group">
              <label for="description">Átadási állapot</label>
              <input matInput
                type="text"
                class="form-control"
                id="handoverState"
                [(ngModel)]="model.handoverState"
                name="handoverState"
                [disabled]="readonly"
              />
            </div>
          </mat-form-field>
        </div>
        <div [hidden]="!(openTab == 2)">
          <label for="file">Fotó feltöltése:</label>
          <input type="file" class="photo-upload-input" (change)="uploadPhoto($event)" accept=".png,.jpg" />
          <div class="photo-upload-progress" *ngIf="uploadProgress | async">
            <progress max="100" [value]="uploadProgress | async"></progress>
          </div>
          <div *ngIf="authservice.currentAuthStatus | async">
            <div class="photos-container" *ngFor="let pr of photoRefs; let i = index">
              <img src='' alt="Mentett kép" id="img{{i}}" class="user-img">
            </div>
          </div>
        </div>

        <div [hidden]="confirmButtonsHidden">
        <button
          type="submit"
          class="btn btn-success"
          [disabled]="!orderForm.form.valid"
        >
          OK
        </button>
        &nbsp;
        
        <button
          type="button"
          class="btn btn-default"
          (click)="newOrder(); orderForm.reset(); readonly = false"
        >
          Adatok törlése
        </button>
      </div>
      </form>
    </div>
  </div>
</div>

<div [hidden]="!submitted">
  <h2>Megrendelés mentve:</h2>
  <div class="row">
    <div class="col-xs-3">Név</div>
    <div class="col-xs-9">{{ model.name }}</div>
  </div>
  <div class="row">
    <div class="col-xs-3">Leírás</div>
    <div class="col-xs-9">{{ model.description }}</div>
  </div>
  <div class="row">
    <div class="col-xs-3">Státusz</div>
    <div class="col-xs-9">{{ model.orderStatus }}</div>
  </div>
  <br />
  <div [hidden]="confirmButtonsHidden">
  <button type="button" class="btn btn-primary" (click)="submitted = false">
    Új megrendelés
  </button>
</div>
</div>
