<div class="warranty-card-container" *ngIf="orderObs | async">
    <div *ngIf="order">
        <div class="print-header">
            <!-- <div class="print-header-right">Munkalap nyilvántartó</div> -->
        </div>
        <div class="warranty-body">
        <div class="warranty-body-left">
            <a class="horizontal-centered-item warranty-card-title">Garanciakártya</a>
            <img src='' alt="logo" id="logo-img" class="logo horizontal-centered-item">
            <!-- <div class="tinytext">Kelt: {{datetimeText}}</div> -->
            <!-- <img class="horizontal-centered-item logo" src="/assets/munkalAPP_logo.png" alt="image"> -->
        </div>
        <div class="warranty-body-right">
            <div class="warranty-info-item">
                <div class="warranty-info-item-name">
                    Dátum:
                </div>
                <div class="warranty-info-item-value">
                    {{dateText}}
                </div>
            </div>
            <hr class="solid">
            <div class="warranty-info-item">
                <div class="warranty-info-item-name">
                    Tárgy:
                </div>
                <div class="warranty-info-item-value">
                    {{order.name}}
                </div>
            </div>
            <hr class="solid">
            <div class="warranty-info-item">
                <div class="warranty-info-item-name">
                    Tokszám:
                </div>
                <div class="warranty-info-item-value">
                    {{order.casingNumber}}
                </div>
            </div>
            <hr class="solid">
            <div class="warranty-info-item">
                <div class="warranty-info-item-name">
                    Elvégzett<br>munkák:
                </div>
                <div class="warranty-info-item-value">
                    {{order.doneTasks}}
                </div>
            </div>
            <hr class="solid">
            <div class="warranty-info-item">
                <div class="warranty-info-item-name">
                    Garancia:
                </div>
                <div class="warranty-info-item-value">
                    {{order.guarantee}} hónap
                </div>
            </div>
            <hr class="solid">
            <div class="warranty-info-item">
                <div class="warranty-info-item-name">
                    Egyéb:
                </div>
                <div class="warranty-info-item-value">
                    {{order.handoverState}}
                </div>
            </div>
        </div>
        </div>
        <div class="print-footer">
        <p class="print-footer-text">{{wcFooterText}}</p>
        <!-- <p class="print-footer-text">Nyitvatartás: mindig és bármikor</p>
        <p class="print-footer-text">https://www.instagram.com/borsieshoblyak</p> -->
        </div>
    </div>
  </div>
