/* Global Styles */
@import '~@angular/material/prebuilt-themes/indigo-pink.css';
@import url('https://unpkg.com/bootstrap@3.3.7/dist/css/bootstrap.min.css');
@import '~firebaseui/dist/firebaseui.css';
* {
  font-family: 'Roboto', Arial, sans-serif;
  color: #616161;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media print {
  .no-print {
      display: none;
  }
}

body {
  margin: 0;
}

.container {
  display: flex;
  flex-direction: row;
}

router-outlet + * {
  padding: 0 16px;
}

/* Text */

h1 {
  font-size: 32px;
}

h2 {
  font-size: 20px;
}

h1,
h2 {
  font-weight: lighter;
}

p {
  font-size: 14px;
}

/* Hyperlink */

a {
  cursor: pointer;
  color: #1976d2;
  text-decoration: none;
}

a:hover {
  opacity: 0.8;
}

/* Input */

input {
  font-size: 14px;
  border-radius: 2px;
  padding: 8px;
  margin-bottom: 16px;
  border: 1px solid #bdbdbd;
}

label {
  font-size: 12px;
  font-weight: bold;
  margin-bottom: 4px;
  display: block;
  text-transform: uppercase;
}

.white-icon {
  color: white;
}

/* Button */
.button,
button {
  display: inline-flex;
  align-items: center;
  padding: 8px 16px;
  border-radius: 2px;
  font-size: 14px;
  cursor: pointer;
  background-color: #1976d2;
  color: white;
  border: none;
}

.button:hover,
button:hover {
  opacity: 0.8;
  font-weight: normal;
}

.button:disabled,
button:disabled {
  opacity: 0.5;
  cursor: auto;
}

/* Fancy Button */

.fancy-button {
  background-color: white;
  color: #1976d2;
}

.fancy-button i.material-icons {
  color: #1976d2;
  padding-right: 4px;
}

/* Top Bar */

app-top-bar {
  width: 100%;
  height: 68px;
  background-color: #1976d2;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

app-top-bar h1 {
  color: white;
  margin: 0;
}
.mat-select-trigger { 
  align-items: center;
  font-weight: bolder;
  font-size: larger;
  vertical-align: middle;
  display: flex;
  margin-top: 5%;
  padding-left: 5px;
}

@media all and (min-width: 1440px) {
  .only-desktop {display: block;}
  .only-mobile {display:none;}
  .order-status-select {
    width: 200px !important;
  }
  .order-status-filter {
    width: 200px !important;
  }
  .secondary-header {
    display: none!important;
  }
}

@media all and (min-width: 601px) and (max-width: 1439px) {
  .only-desktop {display: none;}
  .only-mobile {display:block;}
  .midsize-screen {display: block;}
  .secondary-header {
    display: none!important;
  }
  .shop-title {
    display: none;
  }
  .shop-subtitle {
    display: none;
  }
  .order-status-select {
    width: 100px !important;
    padding-left: 0px;
    margin-left: 10px;
  }
  .top-bar-status-select {
    width: 50px !important;
    padding-left: 0px;
    margin-left: 10px;
  }
  .order-status-filter {
    width: 50px;
    padding-left: 0px !important;
    margin-left: 0px;
  }
  .sorting-radio {
    margin-left: 40px;
    padding-left: 0px !important;
  }
  .sorting-radio-button {
    padding-left: 0px;
    margin-left: 5px;
    padding-right: 5px !important;
    margin-right: 0px;
  }
  .sort-ascending-button {
    margin-left: 10px;
  }
  .mat-radio-label-content {
    padding-left: 0px !important;
  }
  .search-block-mobile {
    display: none;
  }
  .order-serial {
    font-size: small!important;
  }
  .order-customer-name {
    font-size: larger!important;
  }
  .order-description-text {
    font-size: small!important;
  }
  .order-deadline-text {
    font-size: small!important;
  }
  .order-guarantee-text {
    font-size: small!important;
  }
  .order-title-a {
    font-size: larger!important;
  }
  .delete-order-button {
    display: none!important;
  }
}

@media all and (max-width: 600px) {
  .only-desktop {display: none;}
  .only-mobile {display:block;}
  .order-status-filter {
    width: 50px;
    padding-left: 0px !important;
    margin-left: 0px;
  }
  .order-status-select {
    width: 50px !important;
    padding-left: 0px;
    margin-left: 0px;
  }
  .sorting-radio {
    margin-left: 40px;
    padding-left: 0px !important;
  }
  .sorting-radio-button {
    padding-left: 0px;
    margin-left: 2px;
    padding-right: 2px !important;
    margin-right: 0px;
  }
  .mat-radio-label-content {
    padding-left: 0px !important;
  }
  .orders-header {
    margin-top: 20px;
  }
  .order-serial {
    margin-left: 5px!important;
    font-size: small!important;
    margin-top: 18px!important;
  }
  .order-customer-name {
    padding-right: 2px;
    font-size: small!important;
  }
  .new-order-button {
    justify-content: left;
    margin-left: 10px;
  }
  .order-list-header {
    text-align: left  !important;
  }
  .order-title-row {
    margin-top: 10px !important;
    max-width: 96%!important;
  }
  .order-title {
    padding-left: 2px !important;
  }
  .order-title-a {
    font-size: small;
    width:fit-content;
    word-wrap: normal;
    max-width: 120px;
  }
  .order-guarantee-text {
    font-size: small!important;
  }
  .order-deadline-text {
    font-size: x-small!important;
  }
  .order-description-text {
    font-size: x-small!important;
    line-height: 1;
    margin-top: 4px!important;
  }
  .white-icon {
    scale: 0.75;
  }
  .details-buttons {
    padding-left: 0px !important;
    gap: 3px!important;
    height: 40px!important;
  }
  .details-button-single {
    width: 80%;
  }
  .delete-order-button {
    display: none!important;
  }
}