<div *ngIf="orderObs | async" class="order-details-body">
  <div *ngIf="order">
    <div class="order-title-row">
      <h3 class="order-title">{{ order.name }}</h3>
      <h3 class="order-title">#{{ order.serialNumber }}</h3>
    </div>
    <div class="button-navigation-container">
      <div class="details-buttons">
        <button
          (click)="disableEditing = !disableEditing; toggleEditing()"
          type="button"
          class="details-button-single"
        >
          <mat-icon class="only-mobile white-icon">edit</mat-icon>
          <a class="only-desktop button-text">{{ disableEditing ? 'Szerkesztés' : 'Mentés'}}</a>
        </button>
        <button (click)="onPrintWorksheet()" type="button" class="print-button details-button-single">
          <mat-icon class="white-icon">print</mat-icon>
          <a class="only-desktop button-text">Munkalap</a>
          <div class="only-mobile">
            <mat-icon class="white-icon">gavel_icon</mat-icon>
          </div>
        </button>
        <button (click)="onPrintWarranty()" type="button" class="print-button details-button-single">
          <mat-icon class="white-icon">print</mat-icon>
          <a class="only-desktop button-text">Garanciakártya</a>
          <div class="only-mobile">
            <mat-icon class="white-icon">payment</mat-icon>
          </div>
        </button>
        <button (click)="sendNotificationEmail()" type="button" class="email-button details-button-single">
          <mat-icon class="white-icon">alternate_email</mat-icon>
          <a class="only-desktop button-text">Email</a>
        </button>
        <button (click)="sendNotificationSMS()" type="button" class="only-mobile sms-button details-button-single">
          <mat-icon class="white-icon">textsms</mat-icon>
          <a class="only-desktop button-text">SMS</a>
        </button>
      </div>

      <h3>
        <a [routerLink]="['/']" class="back-link only-desktop"> Vissza </a>
      </h3>
      <button
          (click)="deleteOrder()"
          type="button"
          class="delete-order-button only-desktop"
        >
          <mat-icon class="delete-icon">delete_forever</mat-icon>
          <a class="delete-button-text"> Munkalap törlése</a>
      </button>
    </div>
    <mat-divider class="divider"></mat-divider>
    <order-form [order]="order" [readonly]="disableEditing" [confirmButtonsHidden]="true" [submitBehaviour]="submitBehaviour" id="orderForm"> </order-form>
    <h3>
      <a [routerLink]="['/']" class="back-link-mobile only-mobile"> Vissza </a>
    </h3>
    <div class="only-mobile">
      <button
          (click)="deleteOrder()"
          type="button"
          class="delete-order-button-mobile only-mobile"
        >
          <mat-icon class="delete-icon">delete_forever</mat-icon>
          <a class="delete-button-text"> Munkalap törlése</a>
      </button>
    </div>
  </div>
</div>

