.order-details-body {
  justify-content: left;
  margin-left: 0px;
}

.back-link {
  margin-left: 5%;
  padding-bottom: 10px;
  margin-bottom: auto;
  padding-right: 5%;
}
.order-title {
  padding-left: 25px;
  font-weight: bolder;
  font-size:xx-large;
}

.order-title-row {
  fill: rgb(203, 203, 255);
  display: flex;
  gap: 30px;
}

#orderForm {
  margin-top: 5px;
  padding-left: 0px;
}

.divider {
  padding-bottom: 5px;
  margin: 5px;
}

.button-navigation-container {
  display: flex;
  vertical-align: middle;
  align-items: center;
}

.details-buttons {
  display: flex;
  gap: 10px;
  padding-left: 20px;
  height: 50px;
}
.button-text {
  color: rgb(255, 255, 255);
}
.delete-button-text {
  color: rgb(255, 255, 255);
}
.print-button {
  padding-left: 20px;
}
.delete-order-button {
  margin-left: 5%;
  color: rgb(255, 255, 255); 
  background-color: brown;
  align-items: center;
  vertical-align: middle;
  display: flex;
}
.delete-order-button-mobile {
  margin-left: 10px;
  color: rgb(255, 255, 255); 
  background-color: brown;
  align-items: center;
  vertical-align: middle;
  display: flex;
}
.back-link-mobile {
  padding-left: 10px;
  padding-bottom: 10px;
  margin-bottom: auto;
}
.delete-icon {
  color: rgb(255, 255, 255);
}
.white-icon {
  color: rgb(255, 255, 255);
}
