<div *ngIf="orderObs | async">
  <div *ngIf="order">
    <h3>{{ order.name }}</h3>
    <!-- <h4>{{ order.deadline | time }}</h4>-->
    <div class="child flex-parent">
      <div class="child flex-child">
        <button (click)="openTab = 0" type="button">Adatok</button>
      </div>
      <div class="child flex-child">
        <button (click)="openTab = 1" type="button">Folyamat</button>
      </div>
      <div class="child flex-child">
        <button (click)="openTab = 2" type="button">Fotók</button>
      </div>
    </div>

    <div [hidden]="!(openTab == 0)">
      <h2>Adatok</h2>
      <div>
        <h4>Név: {{ order.customerName }}</h4>
        <h4>Telefon: {{ order.telephoneNumber }}</h4>
        <h4>Email: {{ order.email }}</h4>
        <h4>Hibaleírás: {{ order.description }}</h4>
        <h4>Feladatok: {{ order.task }}</h4>
        <h4>Határidő: {{ order.deadline | date }}</h4>
        <h4>Ár: {{ order.price | currency }}</h4>
        <p>Előleg: {{ order.advancePayment | currency }}</p>
      </div>
    </div>
    <div [hidden]="!(openTab == 1)">
      <h2>Folyamat</h2>
      <div>
        <h4>Státusz: {{ order.orderStatus }}</h4>
        <h4>Felvéve: {{ order.creationTime | date }}</h4>
        <h4>Feljegyzések: {{ order.notes }}</h4>
        <h4>Elvégzett munkák: {{ order.doneTasks }}</h4>
        <h4>Átadva: {{ order.returnedTime | date }}</h4>
        <h4>Garancia: {{ order.guarantee }}</h4>
      </div>
    </div>
    <div [hidden]="!(openTab == 2)"><h2>Fotók</h2></div>
  </div>
</div>

<h3>
  <a [routerLink]="['/']"> Vissza </a>
</h3>
