header {
  position: fixed;
  top: 0;
  z-index: 11;
  transition: all 250ms ease-in-out;
}

.main-header {
  @extend header;
  &.hidden {
    opacity: 0;
  }
  justify-content: left;
}
.search-block {
  width: 0%;
  max-width: 350px;
  right: 0;
  @extend header;
  background: #fff;
  &.active {
    width: 100%;
  }
  .search-control {
    flex: 1;
    font-size: 1rem;
    border: 0;
    outline: none;
    padding-left: 10px;
    background-color: #fff;
  }
}
.order-status-filter {
  padding-left: 20px ;
  color: #fff;
}
.white-text {
  color: #fff;
}
.slide-toggle-label {
  color: #fff;
}
.sorting-radio-group {
  padding-left: 10px;
  color: #fff;
  justify-content: left;
}
.sorting-radio-label {
  padding-left: 30px;
  color: #fff;
  justify-content: left;
  text-transform: capitalize;
}
.sorting-radio {
  padding-left: 10px;
  color: #fff;
  justify-content: left;
}
.sorting-radio-button {
  padding-left: 2px;
  padding-right: 20px;
  color: #fff;
  justify-content: left;
  text-transform: capitalize;
}

.sort-ascending-button {
  width: 40px;
  height: 80%;
  align-content: center;
  justify-content: center;
  color: #fff;
}

.sort-arrow {
  color: white;
  margin-top: 50%;
}
.open-search-button {
  margin-left: auto;
  background-color: #fff;
  margin-right: 20px;
}

.top-bar-left {
  margin-left: 0px;
  padding-left: 0px;
}

.order-status-option {
  width: 200;
  align-items: center;
  border-color: darkgray;
  margin-top: auto;
  font-weight: bolder;
  vertical-align: middle;
  
}
.order-status-select {
  height: 75%;
  width: 200px;
  margin-top: auto;
  align-items: center;
  color: #fff;
  background-color: #fff;
  border: 2px solid;
  border-color: black;
}
.settings-button {
  background-color: #fff;
  margin-right: 20px;
  width: min-content;
}
.settings-icon {
  padding-left: 0px;
  margin-left: 0px;
}

::ng-deep .mat-select-panel {
  max-height: none !important;
}

.statusYellow {
  color:orange;
}
.statusGreen {
  color: darkgreen;
}
.statusLightgreen {
  color:rgb(28, 170, 28);
}
.statusBlue {
  color:cornflowerblue;
}
.statusRed {
  color:crimson;
}
.statusGrey {
  color: darkgrey;
}