<div
  class="top-bar-left"
  style="overflow-x:hidden;"
  fxFlexFill
  cdkScrollable
>
  <mat-toolbar
    color="primary"
    class="main-header mat-elevation-z4"
  >
    <mat-toolbar-row style="padding: 0 5px;">
      <div style="padding:8px 0 0 10px;">
        <a [routerLink]="['/']">
          <div class="mat-title" style="margin-bottom:2px;color:white;" *ngIf="(userConfigSubject.asObservable() | async)" >
            {{userConfigSubject.value.companyNameTop}}
          </div>
          <div class="mat-subheading-2" style="line-height:.6rem;color:white;" *ngIf="(userConfigSubject.asObservable() | async)">
           {{userConfigSubject.value.companyNameBottom}}
          </div>
        </a>
      </div>
      <!-- <mat-slide-toggle class="filter-done-toggle" (change)="changeToggleValue($event)" aria-label="Kész"><div class="slide-toggle-label">Kész</div></mat-slide-toggle> -->
      <mat-form-field class="order-status-filter">
        <mat-label class="white-text">Státusz filter</mat-label>
        <mat-select multiple class="order-status-select" [(ngModel)]="filterStatuses" (selectionChange)="changeFilterValue($event)">
          <mat-option *ngFor="let o of orderStatusValues" class="order-status-option" [value]="o.value">
            <div [ngClass]="{
              'statusRed' : o.value == 'canceled',
              'statusGreen' : o.value == 'tasks done',
              'statusYellow' : o.value == 'waiting for part', 
              'statusLightgreen' : o.value == 'ready for pickup',
              'statusBlue' : o.value == 'registered',
              'statusGrey' : o.value == 'done'}">
              <mat-icon class="status-icon">{{o.icon}}</mat-icon>
              {{ o.viewValue }}
            </div>
          </mat-option>
          <mat-select-trigger>
            Státusz szűrő
          </mat-select-trigger>
        </mat-select>
      </mat-form-field>
      
      <label id="sorting-radio-group" class="sorting-radio-group"><h2 class="sorting-radio-label">Rendezés:</h2></label>
      <mat-radio-group
        aria-labelledby="Rendezés"
        class="sorting-radio"
        [(ngModel)]="selectedSorting">
        <mat-radio-button class="sorting-radio-button" *ngFor="let sortOption of statusSelection" [value]="sortOption.value" (change)="changeRadioValue($event)">
          <div class="sorting-radio-button" >{{sortOption.viewValue}}</div>  
        </mat-radio-button>
      </mat-radio-group>
      <button mat-icon-button class="sort-ascending-button" (click)="sortAscending = !sortAscending; changeSortValue(sortAscending)">
        <div [hidden]="sortAscending">
          <mat-icon class="sort-arrow">arrow_upward</mat-icon>
        </div>
        <div [hidden]="!sortAscending">
          <mat-icon class="sort-arrow">arrow_downward</mat-icon>
        </div>
      </button>



      <button mat-icon-button class="open-search-button" (click)="openSearch()">
        <mat-icon>search</mat-icon>
      </button>
      <button class="settings-button" mat-icon-button [routerLink]="['settings']">
        <mat-icon class="settings-icon">settings</mat-icon>
      </button>
      
    </mat-toolbar-row>
  </mat-toolbar>

  <div
    class="search-block mat-elevation-z4"
    [class.active]="toggleSearch"
  >
    <mat-toolbar-row style="padding: 0 5px;">
      <button class="search-icon" mat-icon-button disabled>
        <mat-icon>search</mat-icon>
      </button>
      <input
        class="search-control"
        type="text"
        placeholder="Keresés"
        [(ngModel)]="searchText"
        (keyup)="updateSBServiceData()"
        #searchbar
      />
      <button mat-button mat-icon-button (click)="searchClose()">
        <mat-icon>close</mat-icon>
      </button>
    </mat-toolbar-row>
  </div>
  
</div>
