<div
  class="top-bar-left"
  style="overflow-x:hidden;"
  fxFlexFill
  cdkScrollable
>
  <mat-toolbar
    color="primary"
    class="main-header mat-elevation-z4"
  >
    <mat-toolbar-row style="padding: 0 5px;">
      <div style="padding:8px 0 0 10px;">
        <a [routerLink]="['/']">
          <div class="mat-title" style="margin-bottom:2px;color:white;">
            Borsi és Hoblyák
          </div>
          <div class="mat-subheading-2" style="line-height:.6rem;color:white;">
            Óraszerviz
          </div>
        </a>
      </div>
      <label id="sorting-radio-group" class="sorting-radio-group"><h2 class="sorting-radio-label">Rendezés:</h2></label>
      <mat-radio-group
        aria-labelledby="Rendezés"
        class="sorting-radio"
        [(ngModel)]="selectedSorting">
        <mat-radio-button class="sorting-radio-button" *ngFor="let sortOption of statusSelection" [value]="sortOption.value" (change)="changeRadioValue($event)">
          <div class="sorting-radio-button" >{{sortOption.viewValue}}</div>  
        </mat-radio-button>
      </mat-radio-group>
      <button mat-icon-button class="sort-ascending-button" (click)="sortAscending = !sortAscending; changeSortValue(sortAscending)">
        <div [hidden]="sortAscending">
          <mat-icon class="sort-arrow">arrow_upward</mat-icon>
        </div>
        <div [hidden]="!sortAscending">
          <mat-icon class="sort-arrow">arrow_downward</mat-icon>
        </div>
      </button>



      <button mat-icon-button class="open-search-button" (click)="openSearch()">
        <mat-icon>search</mat-icon>
      </button>
    </mat-toolbar-row>
  </mat-toolbar>

  <div
    class="search-block mat-elevation-z4"
    [class.active]="toggleSearch"
  >
    <mat-toolbar-row style="padding: 0 5px;">
      <button class="search-icon" mat-icon-button disabled>
        <mat-icon>search</mat-icon>
      </button>
      <input
        class="search-control"
        type="text"
        placeholder="Keresés"
        [(ngModel)]="searchText"
        (change)="updateSBServiceData()"
        #searchbar
      />
      <button mat-button mat-icon-button (click)="searchClose()">
        <mat-icon>close</mat-icon>
      </button>
    </mat-toolbar-row>
  </div>
</div>
